@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var site = Model.Content.AncestorOrSelf("Site");
    <nav>
        <ul class="nav nav-pills">
            <li><a href="/">Home</a></li>

            @foreach (var item in site.Children.Where("Visible")) {
        
                if (item.Children.Any()) {
                    <li role="presentation" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            @item.Name <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            @foreach (var child in item.Children.Where("Visible")) {
                                <li>
                                    <a href="@child.Url">@child.Name</a>
                                </li>
                            }
                        </ul>
                    </li>
                }
                else {
                    <li>
                        <a href="@item.Url">@item.Name</a>
                    </li>
                }
            }
        </ul>
    </nav>
}
